*{
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    background: #f4f6fb;
}

header{
    background: linear-gradient(90deg,#667eea,#764ba2);
    color: white;
    text-align: center;
    padding: 25px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px;
    flex-wrap: wrap;
}

.card{
    background: white;
    max-width: 600px;
    height: auto;
    width: 100%;
    padding: 35px;
    border-radius: 12px;
    
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
#options button{
    display: block;
    width: 100%;
    margin: 8px 0;
    border: none;
    background-color: #667eea;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
#options button:hover{
    background-color: #5a67d8;

}
#result{
    margin-top: 10px;
    font-weight: bold;
}

button{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #764ba2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button:hover{
    background-color: #5f3c8c;
}

@media (max-width:760px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}