*{
    margin: ;
}
body{
    font-family: Arial,  sans-serif;
    background-color:#dddee1;
    margin: 0;
    padding: 0;
}
header{
    background-color: #455fe4;
    color: white;
    text-align: center;
    padding: 1px;
    
}
section{
    padding:20px ;
}


h2{
    color: #3f51b5;
}
img{
    display: block;
    margin: 15px auto;
    border-radius: 10px;
}
a{
    color: #3f51b5;
    text-decoration: none;
    font-weight: bold;
}
button{
    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;

}
button:hover{
    background-color: #2c3a8c;
}